{% extends "base_generic.html" %}
{#{% block sidebar  %}#}
{#<div>#}
{#    <li><a href="{% url 'index' %}">Home</a></li>#}
{#    <li><a href="">All books</a></li>#}
{#    <li><a href="">All authors</a></li>#}
{#    <li><a href="">blank line</a></li>#}
{#</div>#}
{#{% endblock %}#}
{% block title %}
    {% load static %}
    <title>Local Library Home page</title>
    <link
            rel="icon"
            type="image/x-icon"
            href="{% static '/pictures/house-xxl.png' %}"
    >
{% endblock %}
{% block content %}
    <div class="content-head">
        <h1>Local Library Home</h1>
    </div>
    <div class="content-main">
        <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
        <h2>Dynamic content</h2>
        <p>The library has the following record counts:</p>
        <ul>
            <li><strong>Books:</strong> {{ num_books }}</li>
            <li><strong>Copies:</strong> {{ num_instances }}</li>
            <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
            <li><strong>Authors:</strong> {{ num_authors }}</li>
            <li><strong>Genres:</strong> {{ num_genres }}</li>
            <li><strong>Книг со словом война в названии:</strong> {{ num_books_filter }}</li>
        </ul>
    </div>
{% endblock %}