html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font: 1.2em "Fira Sans", sans-serif;
    background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    /*background-color: #D9AFD9;*/
    /*background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);*/

}
body{
    background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.container-fluid{

    display: grid;
    /*border: solid 2px red;*/
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;
    text-align: center;
    grid-template-columns: 10% 80% 10%;
    /*grid-template-rows: minmax(50px,100%) auto;*/
    grid-template-areas:  "topl header  topr"
                          "mainl main mainr"
                          "botl bottom botr" ;
    justify-items: stretch;
    align-items: stretch;
}
/*.left-side-top{*/
/*    grid-area: topl;*/

/*}*/
.main-menu {
    border: solid 2px red;
    /*align-self: start;*/
    grid-area: mainl;
    align-self: start;
    min-width: 115px;
    min-height: 70px;
    list-style: none;
    background: aqua;
    /*position: fixed;*/
}
/*.content-block {*/
/*    grid-area: header;*/
/*    height: 1fr;*/
/*    !*background: aquamarine;*!*/
/*    !*border: solid 2px black;*!*/
/*}*/
.content-head{
    grid-area: header;
    /*height: inherit;*/
    /*width: inherit;*/
    background: aquamarine;
    border: solid 2px red;
}
.pagination{
    grid-area: bottom;
}
.head-text{
    align-content: center;
}
.main-text{
    align-content: start;
}
.content-main{
    padding: 10px;
    text-align: start;
    grid-area: main;
    /*height: inherit;*/
    /*width: inherit;*/
    background: aquamarine;
    border: solid 2px red;
}
